@keyframes main_anim {
    0% {
        opacity: 0;
        right: 100px;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}

main > * {
    position: relative;
    animation: main_anim;
    animation-fill-mode: backwards;
    animation-duration: 0.5s;
}