@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');

:root {
    --main-font: "Shantell Sans", cursive;
    --header-font: "Shantell Sans", cursive;
}

* {
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
}