.footer {
    margin-top: auto;
    background-color: #f0f0f0;
    color: #797979;
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 100%;
}