.wrapper {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    width: 100%;
    background: white;
}

.content {
    padding: 1rem 1rem 2rem;
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
    }

    .nav {
        padding-top: 2rem;
    }
}

.nav {
    margin-block: auto;
    margin-inline: auto;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav ul a {
    padding-block: 1rem;
    padding-inline: 1.5rem;
    line-height: 1.2rem;
    text-decoration: none;
    border-radius: 1rem;
    color: black;
}

.nav ul a:not(.active):hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.2rem;
    background: lightgray;
    margin-top: 0.5rem;
}

.title {
    display: flex;
    gap: 2rem;
    margin-right: auto;
    margin-inline: auto;
}

.title > * {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 9rem;
    height: 6rem;
}

.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.2rem;
    background: lightgray;
    margin-top: 0.5rem;
    border-radius: 0.1rem;
}
