.page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 85rem;
    margin: 0 auto;
}

.double {
    grid-column: span 2;
}

@media only screen and (max-width: 768px) {
    .page {
        grid-template-columns: 1fr;
        max-width: 90%;
    }

    .desktop_only {
        display: none !important;
    }

    .double {
        grid-column: span 1;
    }
}

.page > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.8rem;
}

.list {
    list-style: none;
    font-size: 1.25rem;
}

.paw {
    color: rosybrown;
    margin-block: 0.8rem;
}

.table {
    border-collapse: collapse;
}

.table td {
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid #ddd;
}

.table td:first-child {
    font-weight: bold;
}