.page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 85rem;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .page {
        grid-template-columns: 1fr;
        max-width: 90%;
    }

    .desktop_only {
        display: none !important;
    }
}

.page > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.8rem;
}

.double {
    grid-column: span 2;
}